/* ABOUT PROGRAM */

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #D9E4EC;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



#about-program {
    padding-left: 8rem;
    padding-right: 8rem;
}

.ap-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10rem;
}

.ap-title-container h2 {
    margin-top: 3rem;
    margin-left: 5rem;
    font-size: 5rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: #26AE60;
}

.card-text-highlight {
    font-size: 1.75rem;
    font-family: 'Fira Sans', sans-serif;
}

.ap-duration {
    margin-top: 8rem;
    margin-left: 5rem;
    color: #444;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    text-align: right;
    word-wrap: normal;
}

.about-program-content {
    padding-left: 5rem;
    padding-right: 10rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
}

.about-program-content p {
    text-align: justify;
    font-size: 1.75rem;
    line-height: 3rem;
    margin-bottom: 0.75rem;
}

.about-program-card-stack {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 4rem;
    margin-left: 5rem;
    background-color: #2880B9;
    border-radius: 1rem;
    border-color: #2880B9;
    width: 86%;
    padding: 2rem 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin: .5rem 0;
    padding: .2rem 3rem;
    color: #D9E4EC;
    font-style: italic;
}

.card-title {
    color: #D9E4EC;
    font-size: 1.75rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: .5rem;
}

.card-text-long {
    color: #D9E4EC;
    text-align: center;
    white-space: nowrap;
}

.ruler-middle {
    border-top: 2px solid #2880B9;
    width: 86%;
    margin-left: 5rem;
    margin-top: 2rem;
}

.ruler-end {
    border-top: 2px solid #2880B9;
    width: 60%;
    margin: 5rem auto;
}

#page2-strip{    
    height: 32vh;
    width: 95%;
       
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center; 

    border-radius: 3rem;
    background-color: #111;
    color: #D9E4EC;
    
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.strip-item{
    width: 25%;
    margin: 1rem .5rem;
    text-align: center;
}

.strip-item img{
    width: 90%;    
    margin: 1rem 1rem;
    height: 180px;
    border-radius: 2rem;
}

@media (min-width: 481px) and (max-width: 1024px) {
    #about-program {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ap-title-container {
        padding-right: 1rem;
    }

    .ap-title-container h2 {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 3rem; /* Adjust this size as needed */
    }

    .card-text-highlight {
        font-size: 1.2rem; /* Adjust this size as needed */
    }

    .ap-duration {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem; /* Adjust this size as needed */
    }

    .about-program-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about-program-content p {
        font-size: 1.2rem; /* Adjust this size as needed */
        line-height: 2rem; /* Adjust this size as needed */
    }

    .about-program-card-stack {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem; /* Adjust this size as needed */
        width: 90%;
        padding: 1rem 0;
    }

    .card-title {
        font-size: 1.2rem; /* Adjust this size as needed */
    }

    .ruler-middle {
        width: 90%;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .ruler-end {
        width: 90%;
        margin: 1rem auto;
    }
}
