/* ABOUT PAGE  */

#page7 {
  height: 60vh;
  width: 100%;
  background-color: #2ECC71;
  display: flex;
  justify-content: space-evenly;
}

#about-us {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about-us-button-stack {
  display: flex;
  flex-direction: row;
}

#about-us h2 {
  margin-top: 7rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #D9E4EC;
}

.about-us-email {
  color: white;
  padding-right: 10rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.about-us-email a {
  color: #2880B9;
  font-weight: 500;
  transition: all 0.5s ease;
}

.about-us-email a:hover {
  font-size: 2rem;
  text-decoration: underline;
}

.learn-more {
  margin-top: 2rem;
  color: white;
  padding-right: 10rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.about-us-button {
  display: block;
  align-self: auto;
  margin: 0.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
  white-space: nowrap;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border: 5px solid #D9E4EC;
  padding: 10px 20px;
  background-color: #2ECC71;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s ease, border-color 0.2s ease, background-image 0.5s ease;
}

.about-us-button:hover {
  transform: translateY(-5px);
  background-color: #2880B9;
  border-color: #2880B9;
}

@media (min-width: 481px) and (max-width: 1024px) {
  #page7 {
    height: 80vh;    
  }
  /* Apply left margin to all elements */
  #about-us, #about-us h2, .about-us-email, .learn-more, #about-us-button-stack, .about-us-button {
    margin-left: 1rem;
  }

  /* Adjust about us title font size */
  #about-us h2 {
    font-size: 3rem; /* Adjust this size as needed */
  }

  /* Adjust text size for about us section */
  .about-us-email, .learn-more {
    font-size: 1.2rem; /* Adjust this size as needed */
    padding-right: 2rem; /* Reduce padding for smaller screens */
  }

  /* Adjust button layout to be in a column */
  #about-us-button-stack {
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the start */
  }

  .about-us-button {
    width: 300px; /* Allow buttons to adjust width automatically */
    margin: .3rem 0; /* Add margin for spacing */
    font-size: 1rem; /* Adjust button font size */
    padding: 8px 16px; /* Adjust button padding */
  }
}
