/* BENEFITS SECTION */

#page6 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

#benefits-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: 80%;
    padding: 2rem;
    gap: 2rem;
}

.glassmorph {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#benefits-title {
    text-align: left; 
    width: 100%;
}

#benefits-title h2 {
    padding-left: 10rem;
    font-size: 5rem; /* Reduced font size */
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: #26AE60;
    margin: 0;
}

#benefits-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align content to the left */
    align-items: stretch;
    width: 100%;
    height: 100%;
    gap: 2rem; /* Adjusted gap for tighter alignment */
}

#benefits-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
}

.benefit-nav-item {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem; /* Reduced font size */
    font-weight: 200;
    white-space: nowrap;
    color: #D9E4EC;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    width: 100%;
    text-align: left;
}

.benefit-nav-item:hover {
    font-size: 1.5rem; /* Increased hover font size */
}

.benefit-nav-item.active {
    background: #111;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #43cea2, #185a9d);
}

.benefit-nav-item h3 {
    font-size: 2rem; /* Adjusted font size */
    font-weight: 400;
}

#benefits-content-wrapper {
    width: 75%; /* Adjusted width for better alignment */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start;
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 0; /* Removed top margin */
}

.benefits-list {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transition: background-color 0.5s, color 0.5s;
    position: absolute;
    font-size: 1.5rem; /* Reduced font size */
    font-weight: 300;    
    font-family: 'Fira Sans', sans-serif;
    line-height: 5rem;
    color: #D9E4EC;
    list-style: circle;
    opacity: 0;
    transform: translateY(20px);
}

.benefits-list.visible {
    opacity: 1;
    transform: translateY(0);
}

.benefits-list ul {
    list-style: circle;
    padding: 0;
}

.benefits-list li {
    margin: 0.5rem 0;
    opacity: 0;
    text-align: left;
}

.benefit-hr{
    border: 1px solid #2880B9;
    width: 80%;
    margin: 2rem 0;
}



@media (max-width: 768px) {
    #page6 {
        height: 120vh;        
    }

    #benefits-content {
        flex-direction: column;
        align-items: center;
    }

    #benefits-nav {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    #benefits-content-wrapper {
        width: 100%;
    }

    #benefits-title h2 {
        padding-left: 0; /* Adjust padding for smaller screens */
        font-size: 3rem; /* Adjust title size for smaller screens */
    }

    .benefit-nav-item {
        font-size: 1rem; /* Adjust item font size for smaller screens */
    }

    .benefit-nav-item h3 {
        font-size: 1rem; /* Adjust sub-title font size for smaller screens */
    }

    .benefits-list {
        font-size: 1.2rem; /* Adjust benefits list font size for smaller screens */
        line-height:1.5rem;
    }
    .benefit-hr{
        border: 1px solid #2880B9;
        width: 80%;
        margin: .2rem 0;
    }
}
