* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Fira Sans', sans-serif;  
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
  display: flex;
  flex-direction: column;  
}

a{
  text-decoration:none;
}

#page-is-flex{  
  flex-grow: 5;
  flex-direction: column;  
  align-items: center;  
  background-color: #D9E4EC;
  align-items: center;  
}


